<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.osc.saferoute.infrastructure.mybatis.mapper.UserMapper">

    <resultMap id="UserEntityResultMap" type="com.osc.saferoute.infrastructure.mybatis.entity.UserEntity">
        <id property="user_id" column="user_id" />
        <result property="nickname" column="nickname" />
    </resultMap>

    <select id="findById" resultMap="UserEntityResultMap">
        SELECT user_id, nickname
        FROM users
        WHERE user_id = #{user_id}
    </select>

    <update id="update">
        UPDATE users
        SET name = #{name}
        WHERE id = #{id}
    </update>

</mapper>
